.festivos__form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  div {
    select {
      margin-left: 1em;
    }
  }
}
.festivos__form-selector {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    margin: 1em;
  }
}
.festivos__form-boton button {
  margin: 2em;
  color: #eeeeee;
  background-color: #395983;
  border-radius: 10px;
  width: 200px;
  height: 35px;
  cursor: pointer;
}
.css-t3ipsp-control,
.css-13cymwt-control {
  background-color: #395983 !important;
  color: #eeeeee !important;
  caret-color: #eeeeee;
  #react-select-3-input {
    color: #eeeeee !important;
  }
}
.css-15lsz6c-indicatorContainer {
  cursor: pointer !important;
  color: #eeeeee !important;
}
.css-1p3m7a8-multiValue {
  background-color: #dbe9ee !important;
}
.css-v7duua {
  color: #395983;
}
.css-1jqq78o-placeholder {
  color: #eeeeee !important;
}
.css-b62m3t-container {
  min-width: max-content;
  width: 250px;
}
.festivos {
  width: 90%;
}
.mostrar__festivos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
}
