@media (min-width: 1281px) {
  .cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
  }

  .descripciones__lista {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    li {
      margin-bottom: 20px;
      color: #274690;
      b {
        color: #274690;
      }
    }
  }
  p {
    margin-bottom: 20px;
    color: #274690;
  }
  .creditos {
    margin-bottom: 4em;
    margin-top: 4em;
  }
  .inicio {
    text-align: center;
    background-color: #dbe9ee;
    height: fit-content;
    width: 207vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1280px) {
  .cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 40%;
  }

  .descripciones__lista {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    li {
      margin-bottom: 20px;
      color: #274690;
      b {
        color: #274690;
      }
    }
  }
  p {
    margin-bottom: 20px;
    color: #274690;
  }
  .creditos {
    margin-bottom: 4em;
    margin-top: 4em;
  }
  .inicio {
    text-align: center;
    background-color: #dbe9ee;
    height: 82vh;
    width: 207vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
